@borderGray: #d2d7dc;
@fontGray: #8a8a8a;
@fontLightGray: #a0a0a0;
@themeColor: #5555ff;
@themeBorderColor: #bbbbff;
@themeBackgroundColor: #eeeeff;
@themeLightColor: #bbbbff;

// status color
@success: #67c23a;
@danger: #f56c6c;
@warning: #e6a23c;
@info: #909399;
@primary: #409eff;
@warningLight: #cdb62c;
@notRunning: #303133;
