.el-alert {
  padding: 8px 0;

  .el-alert__description {
    margin: 5px 0 0;
    font-size: 14px;
  }
}

.el-tag--mini {
  line-height: 18px;
}

// table
.el-table {
  .caret-wrapper {
    height: 22px;
    margin-top: -2px;

    .sort-caret.ascending {
      top: 0;
    }

    .sort-caret.descending {
      bottom: 0;
    }
  }

  .el-table__cell {
    color: #4a4a4a;

    .cell {
      min-height: 22px;
      line-height: 22px;
    }
  }

  th.el-table__cell {
    padding: 8px 0;
    color: #4a4a4a;
    font-weight: 300;
    background: #eaeaea;

    &.is-leaf {
      border-block-width: 0;
    }
  }

  // .el-table__empty-block {
  //   min-height: 46px;

  //   .el-table__empty-text {
  //     height: 46px;
  //     line-height: 46px;
  //   }
  // }
}

// common font style
.common-column {
  line-height: 22px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

// common font size and line-height
.common-font {
  font-size: 14px;
  line-height: 22px;
}

// Form label validation icon
// You should add the label-icon class to the el-form-item component when you want to add an icon to the right of the label component
.el-form {
  .el-form-item__label {
    position: relative;
    padding-right: 30px;
  }

  &.el-form--label-top .el-form-item__label {
    padding-bottom: 0;
  }

  .label-icon {
    .el-form-item__label {
      i {
        position: absolute;
        top: calc(~'50% - 7px');
        right: 8px;
        font-size: 14px;
      }
    }
  }

  .el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label,
  .el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap > .el-form-item__label {
    &::before {
      margin-right: 0;
      content: '';
    }

    &::after {
      position: absolute;
      top: calc(~'50% - 3px');
      right: 12px;
      width: 6px;
      height: 6px;
      background: #f00000;
      border-radius: 50%;
      content: '';
    }
  }

  .label-icon.el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label,
  .label-icon.el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap > .el-form-item__label {
    &::after {
      background: transparent;
    }
  }
}
