
.el-alert {
  padding: 8px 0;

  .el-alert__description {
    margin: 5px 0 0;
    font-size: 14px;
  }
}

.el-tag--mini {
  line-height: 18px;
}

.status-success {
  color: @success;
}

.status-danger {
  color: @danger;
}

.status-warning {
  color: @warning;
}

.status-info {
  color: @info;
}

.status-primary {
  color: @themeColor;
}
