
.el-alert {
  padding: 8px 0;

  .el-alert__description {
    margin: 5px 0 0;
    font-size: 14px;
  }
}
// workaround for 'overpass' font bug
// https://github.com/patternfly/patternfly/issues/195

.el-tag--mini {
  height: 20px;
  line-height: 20px;
}
